html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    min-height: 100%;
}

body {
    background-color: #181818;
    font-size: 14px;
    min-width: 100%;
}

* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    letter-spacing: 1px;
}

#nowPlayingBarContainer {
    width: 100%;
    background-color: #282828;
    bottom: 0;
    position: fixed;
    min-width: 100%;
}

#nowPlayingBar {
    display: flex;
    height: 90px;
    padding: 16px;
    box-sizing: border-box;
}

#nowPlayingLeft,
#nowPlayingRight {
    width: 30%;
    min-width: 180px;
}

#nowPlayingCenter {
    width: 40%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nowPlayingRight {
    position: relative;
    margin-top: 16px;
}

#nowPlayingBar .content {
    width: 100%;
    height: 57px;
}

.playerControls .buttons {
    margin: 0 auto;
    display: table;
}

.controlButton {
    background-color: transparent;
    border: none;
    vertical-align: middle;
}

.controlButton img {
    width: 20px;
    height: 20px;
}

.controlButton.play img,
.controlButton.pause img {
    width: 32px;
    height: 32px;
}

.controlButton:hover {
    cursor: pointer;
}

.progressTime {
    color: #a0a0a0;
    font-size: 11px;
    min-width: 40px;
    text-align: center;
}

.playbackBar {
    display: flex;
}

.progressBar {
    width: 100%;
    height: 12px;
    display: inline-flex;
    cursor: pointer;
}

.progressBarBg {
    background-color: #404040;
    height: 4px;
    width: 100%;
    border-radius: 2px;
}

.progress {
    background-color: #a0a0a0;
    height: 4px;
    width: 0;
    border-radius: 2px;
}

.playbackBar .progressBar {
    margin-top: 3px;
}

#nowPlayingLeft .albumArtwork {
    height: 100%;
    max-width: 57px;
    margin-right: 15px;
    float: left;
    background-size: cover;
}

#nowPlayingLeft .trackInfo {
    display: table;
}

#nowPlayingLeft .trackInfo .trackName {
    margin: 6px 0;
    display: inline-block;
    width: 100%;
}

#nowPlayingLeft .trackInfo .artistName span {
    font-size: 12px;
    color: #a0a0a0;
}

#nowPlayingRight .volumeBar {
    width: 180px;
    position: absolute;
    right: 0;
}

#nowPlayingRight .volumeBar .progressBar {
    width: 125px;
}

#topContainer {
    min-height: 100%;
    width: 100%;
}

#mainViewContainer {
    margin-left: 15%;
    padding-bottom: 90px;
    width: calc(100%-15%);
}

#mainContent {
    padding: 0 20px;
}

#navBarContainer {
    background-color: #000;
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

@media (max-width: 1400px) {
    #mainViewContainer {
        margin-left: 25%;
        width: calc(100%-25%);
    }
    #navBarContainer {
        width: 25%;
    }
}
@media (max-width: 768px) {
    #mainViewContainer {
        margin-left: 35%;
        width: calc(100%-35%);
    }
    #navBarContainer {
        width: 35%;
    }
}

.navBar {
  padding: 25px;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
}

.logo img {
    width: 35px;
    margin-bottom: 15px;
}

.navBar .group {
    border-top: 1px solid #a0a0a0a0;
    padding: 10px 0;
}

.navItem {
    position: relative;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 700;
    display: block;
    letter-spacing: 1px;
}

.navItemLink {
    color: #a0a0a0a0;
    text-decoration: none;
}

.navItemLink:hover {
    cursor: pointer;
    color: #fff;
}

.navItemLink .icon {
    position: absolute;
    right: 0;
    top: 6px;
    width: 25px;
}

.pageHeadingBig {
    padding: 20px;
    text-align: center;
}

.gridViewItem {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 29%;
    height: 300px;
    max-height: 300px;
    max-width: 30%;
    min-width: 200px;
}

.gridViewItem img {
    width: 100%;
    min-height: 100%;
    max-height: 90%;
}

.gridViewInfo {
    font-weight: 300;
    text-align: center;
    padding: 5px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 18px;
}

.gridViewItem a {
    text-decoration: none;
}

.entityInfo {
    padding: 40px 0 10px 0;
    display: inline-block;
    width: 100%;
}

.entityInfo .leftSection {
    width: 30%;
    float: left;
    max-width: 30%;
}

.entityInfo .leftSection img {
    width: 100%;
}

.entityInfo .rightSection {
    width: 70%;
    float: left;
    padding: 5px 10px 5px 40px;
    box-sizing: border-box;
}

.entityInfo .rightSection h2 {
    margin-top: 0;
}

.entityInfo .rightSection p {
    color: #939393;
    font-weight: 200;
}


@media (max-width: 1280px) {
    .gridViewItem {
        height: 200px;
        min-height: 200px;
        max-height: 200px;
        max-width: 30%;
        min-width: 200px;
    }
    .entityInfo .leftSection {
        width: 50%;
        max-width: 50%;
    }
    
    .entityInfo .leftSection img {
        width: 100%;
    }
    
    .entityInfo .rightSection {
        width: 50%;
        padding: 5px 10px 5px 40px;
    }
    .entityInfo .rightSection h2 {
        margin-top: 25px;
    }
}

@media (max-width: 1024px) {
    .entityInfo {
        display: flex;
        flex-direction: column;
    }
    .entityInfo .leftSection {
        width: 80%;
        max-width: 80%;
    }
}

@media (max-width: 768px) {
    .gridViewItem {
        width: 70%;
        min-width: 250px;
        margin-bottom: 20px;
    }
    .entityInfo .rightSection {
        width: 100%;
        max-width: 100%;
        padding: 5px 10px 5px 10px;
    }

}

.trackList {
    padding: 0;
}

.trackListRow {
    height: 40px;
    padding: 15px 10px;
    list-style: none;
}

.trackListRow span {
    color: #939393;
    font-weight: 200;
}

.trackListRow:hover {
    background-color: #282828;
}

.trackListRow .trackCount {
    width: 8%;
    float: left;
}

.trackListRow .trackCount img {
    width: 20px;
    visibility: hidden;
    position: absolute;
    cursor: pointer;
}

.trackListRow:hover .trackCount img {
    visibility: visible;
}

.trackListRow .trackCount span {
    visibility: visible;
}

.trackListRow:hover .trackCount span {
    visibility: hidden;
}

.trackListRow .trackInfo {
    width: 75%;
    float: left;
}

.trackListRow .trackInfo span {
    display: block;
}

.trackListRow .trackOptions {
    width: 5%;
    float: left;
    text-align: right;
}

.trackListRow .trackOptions img {
    width: 15px;
    visibility: hidden;
}

.trackListRow:hover .trackOptions img {
    visibility: visible;
}

.trackListRow .trackDuration {
    width: 12%;
    float: left;
    text-align: right;
}

.trackListRow .trackName {
    color: #fff;
    margin-bottom: 7px;
}


